/* about attributes */

.about-image {
  max-width: 60%;
}
.imagecontainer {
  margin-bottom: 250px;
}
.abouttitle {
  font-family: caveat;
}
.abouttext {
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
}
.work-headings {
  font-size: 18px;
  font-style: oblique;
}

@media screen and (max-width: 420px) {
  .abouttext {
    font-size: 14px;
  }
}
@media screen and (min-width: 420px) {
  .abouttext {
    font-size: 18px;
  }
}
@media screen and (min-width: 640px) {
  .abouttext {
    font-size: 23px;
  }
}
@media screen and (min-width: 768px) {
  .abouttext {
    font-size: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .abouttext {
    font-size: 23px;
  }
}
@media screen and (min-width: 1360px) {
  .abouttext {
    font-size: 30px;
  }
}


/* media queries */

@media screen and (max-width: 420px) {
  .aboutdescription {
    margin: -50px 20px 0px 20px;
  }
}
@media screen and (min-width: 420px) {
  .aboutdescription {
    margin: -20px 20px 0px 20px;
  }
}
@media screen and (min-width: 640px) {
  .aboutdescription {
    margin: -20px 40px 0px 40px;
  }
}
@media screen and (min-width: 768px) {
  .aboutdescription {
    margin: 50px 40px 0px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .aboutdescription {
    margin: 40px 40px 0px 40px;
    }
}

@media screen and (min-width: 1360px) {
  .aboutdescription {
    margin: 50px 40px 0px 40px;
    }
}
@media screen and (min-width: 1650px) {
  .aboutdescription {
    margin: 60px 40px 0px 750px;
    }
}

@media screen and (max-width: 420px) {
  .about-image {
    max-width: 60%;
    margin: 20px 20px 250px 20px;
  }
}
@media screen and (min-width: 420px) {
  .about-image {
    max-width: 60%;
    margin: -260px 20px 250px 20px;
  }
}
@media screen and (min-width: 768px) {
  .about-image {
    max-width: 50%;
    }
}
@media screen and (min-width: 1024px) {
  .about-image {
    margin-left: 40px;
    max-width: 40%;
    }
}
@media screen and (min-width: 1360px) {
  .about-image {
    max-width: 35%;
    margin-left: 70px;
    }
}
@media screen and (min-width: 1650px) {
  .about-image {
    max-width: 30%;
    margin: -810px 1110px 0px 0px;
    }
}

@media screen and (max-width: 420px) {
  .imagecontainer {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 420px) {
  .imagecontainer {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .imagecontainer {
    
  }
}
@media screen and (min-width: 1024px) {
  .imagecontainer {
    
  }
}
@media screen and (min-width: 1360px) {
  .imagecontainer {
    
  }
}
@media screen and (min-width: 1920px) {
  .imagecontainer {
    
  }
}