/* about attributes */

.about-inner {
  padding: 0px 40px 0px 40px;
}
.about-image {
  align-self: center;
  border-radius: 75px;
}
.abouttitle {
  letter-spacing: 9px;
  font-size: 20px;
}
.abouttext {
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
}

/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .about-inner {
    display: inline-block;
    padding: 0px 0px 0px 0px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .about-inner {
    display: flex;
  }
}
/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .about-image {
    max-width: 300px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .about-image {
    max-width: 500px;
  }
}
/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .abouttitle, .abouttext {
    text-align: center;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .abouttitle, .abouttext {
    text-align: unset;
  }
}
