/* about attributes */

.about-inner {
  
}
.about-image {
  align-self: center;
}
.abouttitle {
  letter-spacing: 9px;
  font-size: 20px;
}
.abouttext {
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
}
.work-headings {
  font-size: 18px;
  font-style: oblique;
}
.aboutexperience {
  position: absolute;
}

/* 376 */
/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .aboutdescription {
    margin: 60px 10px 0px 10px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .aboutdescription {
    margin: 20px 40px 0px;
  }
}
/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .about-inner {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .about-inner {
    text-align: center;
  }
}
/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .about-image {
    max-width: 200px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .about-image {
    max-width: 340px;
    padding-bottom: 20px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (max-width: 376px) {
  .aboutexperience {
    margin: 0px 20px 400px 20px;
  }
}

/* 768 */

/* If screen size is 768px wide, or less */
@media screen and (max-width: 768px) {
  .about-inner {
    text-align: center;
  }
}
/* If screen size is more than 768px wide */
@media screen and (min-width: 768px) {
  .about-inner {
    text-align: center;
  }
}
/* If screen size is more than 768px wide */
@media screen and (min-width: 768px) {
  .aboutexperience {
    margin: 0px 70px 200px;
  }
}
/* If screen size is more than 768px wide */
@media screen and (min-width: 768px) {
  .aboutdescription {
    margin: 20px 40px;
  }
}

/* 1285 */

/* If screen size is 1285px wide, or less */
@media screen and (max-width: 1285px) {
  .about-inner {
    text-align: center;
  }
}
/* If screen size is more than 1285px wide */
@media screen and (min-width: 1285px) {
  .about-inner {
    text-align: unset;
    display: flex;
    margin: 0px 0px 150px 200px;
  }
}
/* If screen size is more than 1258px wide */
@media screen and (min-width: 1258px) {
  .about-image {
    max-width: 540px;
    margin-left: -76px;
    }
}
/* If screen size is more than 1258px wide */
@media screen and (min-width: 1258px) {
  .aboutexperience {
    margin: 610px 0px 400px 0px;
    }
}
/* If screen size is more than 1258px wide */
@media screen and (min-width: 1258px) {
  .aboutdescription {
    margin: 20px 100px 0px 80px;
    }
}