/* about attributes */

.about-inner {
  padding: 0px 40px 0px 40px;
  margin-bottom: 150px;
}
.about-image {
  align-self: center;
  border-radius: 75px;
}
.abouttitle {
  letter-spacing: 9px;
  font-size: 20px;
}
.abouttext {
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
}

/* 376 */

/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .about-inner {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .about-inner {
    text-align: center;
  }
}
/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .about-image {
    max-width: 300px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .about-image {
    max-width: 340px;
  }
}
/* If screen size is more than 1258px wide */
@media screen and (min-width: 1258px) {
  .about-image {
    max-width: 500px;
  }
}

/* 768 */

/* If screen size is 768px wide, or less */
@media screen and (max-width: 768px) {
  .about-inner {
    text-align: center;
  }
}
/* If screen size is more than 768px wide */
@media screen and (min-width: 768px) {
  .about-inner {
    text-align: center;
  }
}

/* 1285 */

/* If screen size is 1285px wide, or less */
@media screen and (max-width: 1285px) {
  .about-inner {
    text-align: center;
  }
}
/* If screen size is more than 1285px wide */
@media screen and (min-width: 1285px) {
  .about-inner {
    text-align: unset;
  }
}
