/* about attributes */

.about-image {
  max-width: 60%;
}
.imagecontainer {
  display: inline-grid;
  margin-bottom: 350px;
}
.abouttitle {
  font-family: caveat;
}
.abouttext {
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  margin-bottom: 300px;
}
.work-headings {
  font-size: 18px;
  font-style: oblique;
}

@media screen and (max-width: 420px) {
  .abouttext {
    font-size: 14px;
  }
}
@media screen and (min-width: 420px) {
  .abouttext {
    font-size: 14px;
  }
}
@media screen and (min-width: 640px) {
  .abouttext {
    font-size: 19px;
  }
}
@media screen and (min-width: 768px) {
  .abouttext {
    font-size: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .abouttext {
    font-size: 23px;
  }
}
@media screen and (min-width: 1360px) {
  .abouttext {
    font-size: 30px;
  }
}


/* media queries */

@media screen and (max-width: 420px) {
  .aboutdescription {
    margin: -940px 19px 0px 210px;
  }
}
@media screen and (min-width: 420px) {
  .aboutdescription {
    margin: -940px 19px 0px 210px;
  }
}
@media screen and (min-width: 640px) {
  .aboutdescription {
    margin: -1220px 40px 0px 290px;
  }
}
@media screen and (min-width: 768px) {
  .aboutdescription {
  margin: -1390px 30px 0px 360px;
  }
}
@media screen and (min-width: 1024px) {
  .aboutdescription {
    margin: -1730px 40px 0px 520px;
    }
}

@media screen and (min-width: 1360px) {
  .aboutdescription {
    margin: -1880px 70px 0px 720px;
    }
}
@media screen and (min-width: 1650px) {
  .aboutdescription {
    margin: -2210px 190px 0px 910px;
    }
}

@media screen and (max-width: 420px) {
  .about-image {
  padding: 20px 0px 0px 30px;
  max-width: 48%;
  }
}
@media screen and (min-width: 420px) {
  .about-image {
  padding: 20px 0px 0px 30px;
  max-width: 48%;
  }
}
@media screen and (min-width: 640px) {
  .about-image {
    padding: 20px 0px 0px 30px;
    max-width: 43%;
  }
}
@media screen and (min-width: 768px) {
  .about-image {
    max-width: 40%;
    }
}
@media screen and (min-width: 1024px) {
  .about-image {
    margin-left: 40px;
    max-width: 40%;
    }
}
@media screen and (min-width: 1360px) {
  .about-image {
    max-width: 35%;
    margin-left: 70px;
    }
}
@media screen and (min-width: 1650px) {
  .about-image {
    max-width: 30%;
    margin-left: 90px;
    }
}

@media screen and (min-width: 768px) {
  .imagecontainer {
    padding: 40px 0px 0px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .imagecontainer {
    padding: 100px 0px 0px 30px;
  }
}