/* about attributes */

.about-image {
  max-width: 60%;
}
.abouttitle {
  letter-spacing: 9px;
  font-size: 20px;
}
.abouttext {
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
}
.work-headings {
  font-size: 18px;
  font-style: oblique;
}

/* media queries */

@media screen and (max-width: 420px) {
  .aboutexperience {
    margin: -40px 20px 150px 20px;
  }
}
@media screen and (min-width: 640px) {
  .aboutexperience {
    margin: -40px 40px 200px;
  }
}
@media screen and (min-width: 1360px) {
  .aboutexperience {
    margin: 0px 180px 200px;
    }
}

@media screen and (max-width: 420px) {
  .aboutdescription {
    margin: 60px 10px 0px 10px;
  }
}
@media screen and (min-width: 420px) {
  .aboutdescription {
    margin: 20px 40px 0px;
  }
}
@media screen and (min-width: 768px) {
  .aboutdescription {
    margin: 20px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .aboutdescription {
    margin: -428px 40px 0px 570px;
    }
}
@media screen and (min-width: 1360px) {
  .aboutdescription {
    margin: -442px 90px 0px 700px;
    }
}


@media screen and (min-width: 420px) {
  .about-image {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .imagecontainer {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .about-image {
    margin-left: 40px;
    max-width: 50%;
    }
  .imagecontainer {
    text-align: left;
  }
}
@media screen and (min-width: 1360px) {
  .about-image {
    max-width: 50%;
    margin-left: 90px;
    }
}