.about-inner {
  display: flex;
  padding: 0px 40px 0px 40px;
}

.about-image {
  align-self: center;
  max-width: 500px;
  border-radius: 75px;
}
.abouttitle {
  letter-spacing: 9px;
  font-size: 20px;
}
