/* about attributes */

.about-image {
  align-self: center;
}
.abouttitle {
  letter-spacing: 9px;
  font-size: 20px;
}
.abouttext {
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
}
.work-headings {
  font-size: 18px;
  font-style: oblique;
}

@media screen and (max-width: 420px) {
  .aboutexperience {
    margin: 0px 20px 400px 20px;
  }
}
@media screen and (min-width: 640px) {
  .aboutexperience {
    margin: 0px 70px 200px;
  }
}
@media screen and (min-width: 1258px) {
  .aboutexperience {
    margin: 610px 0px 400px 0px;
    }
}

@media screen and (max-width: 420px) {
  .aboutdescription {
    margin: 60px 10px 0px 10px;
  }
}
@media screen and (min-width: 420px) {
  .aboutdescription {
    margin: 20px 40px 0px;
  }
}
@media screen and (max-width: 420px) {
  .about-inner {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
}
@media screen and (min-width: 420px) {
  .about-inner {
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .about-image {
    max-width: 200px;
  }
}
@media screen and (min-width: 420px) {
  .about-image {
    max-width: 340px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .about-inner {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .about-inner {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .aboutdescription {
    margin: 20px 40px;
  }
}
@media screen and (max-width: 1285px) {
  .about-inner {
    text-align: center;
  }
}
@media screen and (min-width: 1285px) {
  .about-inner {
    text-align: unset;
    display: flex;
    margin: 0px 0px 150px 200px;
  }
}
@media screen and (min-width: 1258px) {
  .about-image {
    max-width: 540px;
    margin-left: -76px;
    }
}
@media screen and (min-width: 1258px) {
  .aboutdescription {
    margin: 20px 100px 0px 80px;
    }
}