/* put in here things that effect everything */

body {
	color: #222;
}
.aboutpicture {
	padding-left: 45;
	width: 650;
	margin-left: 90px;
}
.abouttext {
	margin-left: 850;
    margin-right: 200;
    margin-top: -400;
    color: #222;
    font-family: monospace;
    vertical-align: super;
    font-size: initial;
}
.aboutheading {
	color: #222;
	font-family: monospace;
	vertical-align: super;
	font-size: xx-large;
	padding-left: 850;
    padding-bottom: 425;
    margin-top: -600;
}
.filmsummarytext {
    padding-top: 50;
    padding-left: 850;
    padding-right: 150;
    font-family: monospace;
    font-size: initial;
}
.filmtitletext {
	padding-top: 50;
	padding-left: 850;
	margin-top: -300;
	font-family: monospace;
	font-size: x-large;
}
.videos {
	margin-left: 92;
}
.screengrabs {
	margin: 30;
}