/* put in here things that effect everything */

@font-face {
  font-family: 'proxima-nova';
  src:  url('../fonts/proxima-nova/proxima-nova.eot') format('eot'),
        url('../fonts/proxima-nova/proxima-nova.svg') format('svg'),
        url('../fonts/proxima-nova/proxima-nova.ttf') format('ttf'),
        url('../fonts/proxima-nova/proxima-nova.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-bold';
  src:  url('../fonts/futura-bold/futura-bold.eot') format('eot'),
        url('../fonts/futura-bold/futura-bold.svg') format('svg'),
        url('../fonts/futura-bold/futura-bold.ttf') format('ttf'),
        url('../fonts/futura-bold/futura-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* MEDIA QUIRES */

/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .work-item {
    max-width: 70%
  }
}
/* If screen size is 600px wide, or less */
@media screen and (max-width: 600px) {
  .container, .headerandlinks {
    flex-direction: column;
    display: flex;
  }
}
/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .fadeintext {
    top: -97px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .fadeintext {
    top: -193px;
  }
}
/* If screen size is 376px wide, or less */
@media screen and (max-width: 376px) {
  .buttons {
    padding-right: 50px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 376px) {
  .buttons {
    padding-right: 210px;
  }
}


/* STYLES */

body {
  color: #222;
  background-color: rgb(251, 251, 251);
  font-family: 'proxima-nova';
  line-height: 1.5;
  margin-bottom: 45px;
}

.container {
  max-width: 600px;
  position: relative;
  display: inline-flex;
}
.a {
  color: #999;
  transition: all 0.2s linear;
  }

a:hover, a:focus {
  color:#bebebe;
  }

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 70px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
.text-large {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
.text-small {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
.opaque {
  opacity: 0.6;
}
.filmsummarytext {
  padding-top: 50;
  padding-left: 850;
  padding-right: 150;
  font-size: initial;
  -webkit-font-smoothing: antialiased;
}
.filmtitletext {
  padding-top: 50;
  padding-left: 850;
  margin-top: -450;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
}
.videos {
  margin-left: 92;
  padding-bottom: 150;
}
.screengrabs {
  margin: 92;
  height: 486;
  margin-top: 250;
  margin-bottom: -80;
  margin-left: 250;
}
.lastpicmargin {
  margin-bottom: 250;
}

/* footer */
.footer {
  border-top: 1px solid #494C4E;
  background-color: rgb(241, 241, 241);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45;
  z-index: 3;
}
.footertext {
  font-size: small;
  -webkit-font-smoothing: antialiased;
}
.buttons {
  position: relative;
  margin-top: -37px;
  font-size: x-large;
  display: inline-flex;
  float: right;
}
.fa {
  color: dimgrey;
  text-decoration: none;
}
.styling {
  justify-content: space-between;
  padding: 14px 3px 0px;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
}



/* style sheet */

h1, h2, h3, h4, h5, h6 {
  font-family: 'futura-bold';
}

.ptxs, .pvxs, .paxs {
  padding-top: 5px;
}

.pts, .pvs, .pas {
  padding-top: 10px;
}

.ptm, .pvm, .pam {
  padding-top: 20px;
}

.ptl, .pvl, .pal {
  padding-top: 30px;
}

.ptxl, .pvxl, .paxl {
  padding-top: 40px;
}

.prxs, .phxs, .paxs {
  padding-right: 5px;
}

.prs, .phs, .pas {
  padding-right: 10px;
}

.prm, .phm, .pam {
  padding-right: 10px;
}

.prl, .phl, .pal {
  padding-right: 30px;
}

.prxl, .phxl, .paxl {
  padding-right: 70px;
}

.pbxs, .pvxs, .paxs {
  padding-bottom: 5px;
}

.pbs, .pvs, .pas {
  padding-bottom: 10px;
}

.pbm, .pvm, .pam {
  padding-bottom: 20px;
}

.pbl, .pvl, .pal {
  padding-bottom: 30px;
}

.pbxl, .pvxl, .paxl {
  padding-bottom: 40px;
}

.plxs, .phxs, .paxs {
  padding-left: 5px;
}

.pls, .phs, .pas {
  padding-left: 10px;
}

.plm, .phm, .pam {
  padding-left: 10px;
}

.pll, .phl, .pal {
  padding-left: 30px;
}

.plxl, .phxl, .paxl {
  padding-left: 70px;
}

.mtxs, .mvxs, .maxs {
  margin-top: 5px;
}

.mts, .mvs, .mas {
  margin-top: 10px;
}

.mtm, .mvm, .mam {
  margin-top: 20px;
}

.mtl, .mvl, .mal {
  margin-top: 30px;
}

.mtxl, .mvxl, .maxl {
  margin-top: 40px;
}

.mrxs, .mhxs, .maxs {
  margin-right: 5px;
}

.mrs, .mhs, .mas {
  margin-right: 10px;
}

.mrm, .mhm, .mam {
  margin-right: 20px;
}

.mrl, .mhl, .mal {
  margin-right: 30px;
}

.mrxl, .mhxl, .maxl {
  margin-right: 40px;
}

.mbxs, .mvxs, .maxs {
  margin-bottom: 5px;
}

.mbs, .mvs, .mas {
  margin-bottom: 10px;
}

.mbm, .mvm, .mam {
  margin-bottom: -12px;
}

.mbl, .mvl, .mal {
  margin-bottom: 30px;
}

.mbxl, .mvxl, .maxl {
  margin-bottom: 40px;
}

.mls, .mhs, .mas {
  margin-left: 10px;
}

.mlm, .mhm, .mam {
  margin-left: 20px;
}

.mll, .mhl, .mal {
  margin-left: 30px;
}

.mlxl, .mhxl, .maxl {
  margin-left: 40px;
}

.atl, .at, .atr, .al, .ar, .abl, .ab, .abr,
.atm, .abm, .amm, .alm, .arm {
  position: absolute;
}

.at, .atr, .atl {
  top: 0px;
}

.ab, .abr, .abl {
  bottom: 0px;
}

.al, .atl, .abl {
  left: 0px;
}

.ar, .atr, .abr {
  right: 0px;
}
  

.atm {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.abm {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.amm {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alm {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.arm {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

