/* put in here things that effect everything */

body {
	color: #222;
}
.aboutpicture {
	padding-left: 45;
	width: 450
}
.abouttext {
    margin-left: 470;
    margin-top: -410;
    color: #222;
	font-family: monospace;
	vertical-align: super;
}
.aboutheading {
	color: #222;
	font-family: monospace;
	vertical-align: super;
}