/* put in here things that effect everything */

body {
	color: #222;
}
.aboutpicture {
	padding-left: 45;
	width: 450;
	margin-left: 90px;
}
.abouttext {
	margin-left: 1000;
    margin-right: 200;
    margin-top: -600;
    color: #222;
    font-family: monospace;
    vertical-align: super;
    font-size: x-large;
}
.aboutheading {
	color: #222;
	font-family: monospace;
	vertical-align: super;
}