.links {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    position: relative;
    max-width: 98%;
    z-index: 1;
}
.link {
    margin-left: 40px;
    color: rgb(90, 90, 90);
    text-decoration: none;
    font-variant-caps: all-petite-caps;
}
.headerandlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}
.header {
    font-size: 50px;
    font-variant-caps: all-petite-caps;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 7px;
    position: relative;
    max-width: 100%;
    z-index: 2;
}
