.links {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 43px auto;
}
.link {
    padding: 0px 10px;
    color: rgb(90, 90, 90);
    text-decoration: none;
    font-family: inherit;
    letter-spacing: 2px;
}
.headerandlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}
.header {
    font-family: 'Caveat', cursive;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

/* 376 */

@media screen and (max-width: 640px) {
  .link {
  font-size: 22px;
  }
}
@media screen and (min-width: 640px) {
  .link {
  font-size: 25px;
  }
}
@media screen and (max-width: 640px) {
  .header {
  font-size: 30px;
  }
}
  @media screen and (min-width: 640px) {
  .header {
  font-size: 47px;
  letter-spacing: 4px;
  }
}



/* 768 */

  

/* 1024 */



/* 1285 */

  @media screen and (min-width: 1285px) {
    .header {
    font-size: 62px;
    letter-spacing: 7px;
    }
  }