.links {
    display: flex;
    justify-content: flex-end;
    font-size: large;
}
.link {
    margin-left: 20px;
    color: #999;
    text-decoration: none;
    font-variant-caps: all-petite-caps;
}
.headerandlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}
.header {
    font-size: -webkit-xxx-large;
    font-variant-caps: all-petite-caps;
    -webkit-font-smoothing: antialiased;
}
