.links {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.link {
    padding: 0px 10px;
    color: rgb(90, 90, 90);
    text-decoration: none;
    font-family: inherit;
    letter-spacing: 2px;
}
.headerandlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}
.header {
    font-family: 'Caveat', cursive;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

/* 376 */

/* If screen size is 376px wide, or less */
@media screen and (max-width: 640px) {
  .link {
  font-size: 22px;
  }
}
/* If screen size is more than 376px wide */
@media screen and (min-width: 640px) {
  .link {
  font-size: 25px;
  }
}
/* If screen size is 376px wide, or less */
@media screen and (max-width: 640px) {
    .header {
    font-size: 30px;
    }
  }
  /* If screen size is more than 376px wide */
  @media screen and (min-width: 640px) {
    .header {
    font-size: 47px;
    letter-spacing: 4px;
    }
  }

/* 768 */

  /* If screen size is more than 768px wide */
  @media screen and (min-width: 768px) {
    .header {
    font-size: 50px;
    letter-spacing: 5px;
    }
  }

/* 1024 */



/* 1285 */

  /* If screen size is more than 1285px wide */
  @media screen and (min-width: 1285px) {
    .header {
    font-size: 62px;
    letter-spacing: 7px;
    }
  }