.links {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    position: relative;
}
.link {
    margin-left: 40px;
    color: rgb(90, 90, 90);
    text-decoration: none;
    font-variant-caps: all-petite-caps;
    font-size: 2.7vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headerandlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}
.header {
    font-size: 5vw;
    font-variant-caps: all-petite-caps;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 7px;
    position: relative;
}
.filmtitle {
    font-variant-caps: all-petite-caps;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 7px;
}
.filmdescription {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 7px;
}
.filmdate {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 7px;
}