.work {
  text-align: center;
}
.work-text {
  padding: 15px 0;
  -webkit-font-smoothing: antialiased;
}
.work-item {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  display: inline;
}
.work-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.work-left {
  text-align: center;
  padding-bottom: 150px;
}
.work-left-items {
  margin-bottom: 20px;
  width: 600px;
}
.work-right-cyl {
  white-space: pre-line;
}
.fadeintext {
  transition: 2s ease;
  opacity: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, -26%);
}
.container:hover .work-item {
  opacity: 0.3;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.container:hover .fadeintext {
  opacity: 1;
}
.imagetitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(32, 32, 32);
}
.imagesubheading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(32, 32, 32);
}
.htmlstyle {
  text-decoration: none;
}
.work-right {
  white-space: pre-line;
}
.filmtitle {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  font-family: inherit;
}
.filmdescription {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  font-family: inherit;
}
.filmdate {
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
}
.tagline {
  font-family: 'Caveat', cursive;
  text-align: center;
}
.homepagework {
  margin-bottom: 250px;
}
.homepageimages {
  max-width: 600px;
  margin: 10px 40px;
}
.homepagetitles {
  font-family: 'Caveat', cursive;
}

/* media query */

@media screen and (max-width: 1024px) {
  .homepagework {
    text-align: -webkit-center;
  }
}


@media screen and (max-width: 420px) {
  .homepageimages {
    max-width: 600px;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 420px) {
  .homepageimages {
    max-width: 600px;
    margin: 10px 40px;
  }
}

@media screen and (max-width: 420px) {
  .homepagetitles {
    display: none;
  }
}
@media screen and (min-width: 420px) {
  .homepagetitles {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .homepagetitles {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .homepagetitles {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .homepagetitles {
    font-size: 40px;
  }
}
@media screen and (min-width: 1360px) {
  .homepagetitles {
    
  }
}


@media screen and (max-width: 420px) {
  .worksection {
    margin: 30px auto;
  }
}
@media screen and (min-width: 420px) {
  .worksection {
    margin: 30px auto;
  }
}
@media screen and (min-width: 640px) {
  .worksection {
    
  }
}
@media screen and (min-width: 768px) {
  .worksection {
    
  }
}
@media screen and (min-width: 1024px) {
  .worksection {
    display: flex;
    justify-content: space-evenly;
    margin: 90px auto;
  }
}
@media screen and (min-width: 1360px) {
  .worksection {
    display: flex;
    justify-content: space-evenly;
    margin: 90px auto;
  }
}

@media screen and (max-width: 420px) {
  .tagline {
    margin: -10px 23px 70px;
    font-size: 28px;
  }
}
@media screen and (min-width: 420px) {
  .tagline {
    margin: -10px 23px 70px;
    font-size: 28px;
  }
}
@media screen and (min-width: 640px) {
  .tagline {
    margin: 50px 50px;
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .tagline {
    margin: 50px 90px;
  }
}
@media screen and (min-width: 1024px) {
  .tagline {
    margin: 50px 140px;
  }
}
@media screen and (min-width: 1360px) {
  .tagline {
    margin: 80px 140px;
  }
}

@media screen and (max-width: 420px) {
  .jwclogo {
    position: relative;
    max-width: 157px;
    margin: -30px auto;
  }
}
@media screen and (min-width: 420px) {
  .jwclogo {
    position: relative;
    max-width: 157px;
    margin: -30px auto;
  }
}
@media screen and (min-width: 640px) {
  .jwclogo {
    position: relative;
    max-width: 200px;
    margin: -30px auto;
  }
}
@media screen and (min-width: 768px) {
  .jwclogo {
    position: relative;
    max-width: 200px;
    margin: -30px auto;
  }
}
@media screen and (min-width: 1024px) {
  .jwclogo {
    position: relative;
    max-width: 200px;
    margin: -30px auto;
  }
}
@media screen and (min-width: 1360px) {
  .jwclogo {
    position: relative;
    max-width: 200px;
    margin: -30px auto;
    }
}


@media screen and (min-width: 420px) {
  .htmlstyle {
    height: 370px;
  }
}
@media screen and (max-width: 420px) {
  .htmlstyle {
    height: 220px;
  }
}

@media screen and (max-width: 640px) {
  .work-item {
    max-width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .work-iframe {
    max-width: 90%;
    height: 212px;
    width: 550px;
    margin: auto;
  }
}
@media screen and (min-width: 640px) {
  .work-iframe {
    max-width: 100%;
    height: 294px;
  }
}
@media screen and (min-width: 1024px) {
  .work-iframe {
    width: 440px;
    height: 247px;
  }
}
@media screen and (min-width: 1366px) {
  .work-iframe {
    margin-left: 48px;
    width: 590px;
    height: 331px;
  }
}

@media screen and (max-width: 640px) {
  .work-right {
    text-align: center;
    margin: 40px 36px;
  }
}
@media screen and (min-width: 768px) {
  .work-right {
    text-align: center;
    margin-top: 40px;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .work-right {
    margin: -258px 0px 0px 500px;
  }
}
@media screen and (min-width: 1360px) {
  .work-right {
    margin: -300px 30px 20px 700px;
    text-align: center;
    width: 530px;
  }
}

@media screen and (max-width: 640px) {
  .videoandwork-right {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .work-container {
   margin: 0px;
  }
}
@media screen and (min-width: 640px) {
  .work-container {
    margin: 0px 60px;
  }
}

@media screen and (min-width: 640px) {
  .work-left {
    padding-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .work-left {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1366px) {
  .work-left {
    padding-top: 140px;
  }
}

@media screen and (min-width: 640px) {
  .work-left-items {
    max-width: 120%;
    margin-left: -25px;
  }
}
@media screen and (max-width: 640px) {
  .work-left-items {
    max-width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .work-left-items {
    margin: 10px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1366px) {
  .work-left-items {
    margin: 10px;
  }
}

@media screen and (max-width: 640px) {
  .topimage {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 640px) {
  .filmtitle {
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) {
  .filmtitle {
    font-size: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .filmtitle {
    font-size: 28px;
  }
}
@media screen and (min-width: 1366px) {
  .filmtitle {
    font-size: 35px;
  }
}

@media screen and (max-width: 640px) {
  .imagetitle {
    font-size: 13px;
    letter-spacing: 6px;
  }
}
@media screen and (min-width: 640px) {
  .imagetitle {
    font-size: 24px;
    letter-spacing: 10px;
  }
}

@media screen and (max-width: 640px) {
  .imagesubheading {
    font-size: 12px;
    letter-spacing: 10px;
  }
}
@media screen and (min-width: 640px) {
  .imagesubheading {
    font-size: 17px;
    letter-spacing: 20px;
  }
}