.image {
    width: 33%;
    padding: 15px;
    padding-bottom: 50;
}
.hiptext {
    font-family: monospace; 
    text-align: center;
    margin: -215;
    padding-right: 540;
    padding-top: 205;
}
.zelahtext {
    font-family: monospace; 
    text-align: center;
    margin-top: -230;
}
.syfctext {
    font-family: monospace; 
    text-align: center;
    padding-left: 550;
    margin-top: -215;
}
.dtrtext {
    font-family: monospace; 
    text-align: center;
    padding-right: 550;
    padding-top: 400;
}