.image {
    width: 33%;
    padding: 15px;
    padding-bottom: 50;
    
}
.textunderimage {
    font-family: monospace; 
    text-align: center;
    width: 250;
    margin-top: -33px;
}
.image {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.textunderimage {
    display: block;
}