.work {
  margin: 40px 0px 80px;
  text-align: center;
  display: list-item;
}
.work-item {
  width: 600px;
  max-width: 70%;
  margin: 10px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.work-text {
  padding: 15px 0;
  -webkit-font-smoothing: antialiased;
}

/* new */

.work-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0px 60px;
}

.work-left {
  position: absolute;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 150px;
}
.work-left-items {
  margin-bottom: 20px;
  width: 600px;
  max-width: 100%;
  margin: 10px;
}

.work-right {
  white-space: pre-line;
}

.work-iframe {
  width: 560px;
  height: 315px;
  max-width: 100%;
}
.fadeintext {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container:hover .work-item {
  opacity: 0.3;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.container:hover .fadeintext {
  opacity: 1;
}
.imagetitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  letter-spacing: 10px;
  -webkit-font-smoothing: antialiased;
  color: rgb(32, 32, 32);
}
.imagesubheading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  letter-spacing: 20px;
  -webkit-font-smoothing: antialiased;
  color: rgb(32, 32, 32);
}
.htmlstyle {
  text-decoration: none;
}