.image {
    width: 33%;
    padding: 15px;
    padding-bottom: 50;
}
.hiptext {
    font-family: monospace;
    text-align: center;
    margin: -215;
    padding-right: 602px;
    padding-top: 200px;
}
.zelahtext {
    font-family: monospace; 
    text-align: center;
    margin-top: -345;
}
.syfctext {
    font-family: monospace; 
    text-align: center;
    padding-left: 614px;
    margin-top: -236;
}
.dtrtext {
    font-family: monospace; 
    text-align: center;
    padding-right: 604;
    padding-top: 424;
}